body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("nuages.jpg"); 
  background-size: cover;
  margin: 0;
}

.weather-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #3498db;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

#weatherInfo {
  margin-top: 20px;
}

#temperature, #description {
  color: #333;
}
